* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
}

body {
    background: black;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.title {
    font-size: 50px;
    color: white;
}

input {
    padding: 10px;
    max-width: 250px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    color: white;
}

.btn {
    padding: 10px 20px;
    background: green;
    display: inline-block;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    transition: 1s;
}

.game__box {
    max-width: 500px;
    width: 100%;
    height: 500px;
    background: #2f2f2f;
    box-shadow: 0 0 10px 0 white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}